gwt-jsonix-schema-compiler/src/it/gwt-jsonix-test/src/main/resources/KE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComponentWidthsType">
    <xs:sequence>
      <xs:element type="xs:float" name="width" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="dmnElementRef"/>
  </xs:complexType>
  <xs:complexType name="ComponentsWidthsExtensionType">
    <xs:sequence>
      <xs:element type="ComponentWidthsType" name="ComponentWidths"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachmentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:anyURI" name="url"/>
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>